a.button.tips.laskuhari-invoice img {
	width: 16px;
	height: 16px;
}

#laskuhari-loading {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7);
	z-index: 9999;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}

#laskuhari-loading::before {
    content: "Suoritetaan toimintoa...";
    display: inline-block;
    font-size: 30px;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
}

.laskuhari-payment-status,
.laskuhari-tila {
    background: #ccc;
    color: #656565;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    text-align: center;
}

.laskuhari-laskunumero {
    background: #ccc;
    color: #525252;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
}

.laskuhari-tila.laskutettu {
    background: green;
    color: #fff;
}

.laskuhari-tila.luotu {
    background: #2259c5;
    color: #fff;
}

.laskuhari-payment-status {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
}

.laskuhari-payment-status.laskuhari-paid {
    background: #3eb320;
    color: #fff;
}

.laskuhari-payment-status.laskuhari-not-paid {
    background: #2259c5;
    color: #fff;
}

.order-status.laskuhari-paid {
    background: #00b100;
    color: #fff;
}

.laskuhari-nappi {
    border: 1px solid #2259c5;
    border-radius: 4px;
    padding: 4px;
    color: #2259c5;
    margin-bottom: 2px;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.laskuhari-nappi:hover {
    background: #2259c5;
    color: #fff;
}

.laskuhari-caption {
    margin-top: 5px;
}

#laskuhari_metabox .inside {
    margin-top: 13px;
}

#laskuhari-laheta-lasku-lomake {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: calc(100% - 10px);
}

#laskuhari-laheta-lasku-lomake input,
#laskuhari-laheta-lasku-lomake select {
    width: 100%;
    box-sizing: border-box;
}