parameters:
  level: 9
  treatPhpDocTypesAsCertain: false
  exceptions:
    uncheckedExceptionClasses:
      - Exception
    check:
      missingCheckedExceptionInThrows: true
  paths:
    - ../src
    - ../test/phpunit/tests
  scanFiles:
    - ../woocommerce-laskuhari-payment-gateway.php
  scanDirectories:
    - ../test/assets/wordpress/wp-includes/
    - ../test/assets/wordpress/wp-content/plugins/woocommerce/
    - ../vendor/phpunit/phpunit/src